# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Environment & secrets — NEVER commit these
.env
*.json

# Output files
*.csv

#tests
*test*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
